* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: url("../imgs/nature.jpg");
    background-size: cover;
    background-position-y: -200px;
}

#list_interactor_container {
    text-align: center;
    align-items: center;
    position: relative;
    background-color: rgb(233, 239, 241);
    border: solid 2px;
    border-radius: 6px;
    width: 300px;
    padding: 10px;
}

#list_interactor_container > h3 {
    background-color: transparent;
    font-size: 25px;
}

#text_input {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 10px;
    border: solid 2px;
}

#text_catcher_button, #text_clearer_button {
    background-color: #eeefff;
    border-radius: 3px;
    text-align: center;
    font-weight: bold;
    font-size: 80%;
    margin-top: 5px;
    transition: .125s;
    cursor: pointer;
}

#text_catcher_button {
    width: 30px; height: 30px;
}

#text_catcher_button:hover {
    border-radius: 25%;
    background-color: #adada8;
    border: solid 2px;
}

#text_clearer_button:hover {
    background-color: #adada8;
    border: solid 2px;
}

#main_list{
    width: 80%;
    line-height: 50px;
}

#main_list > li {
    animation: showUp 1s;

    background-color: rgb(235, 228, 218);
    border-radius: 5px;
}

.item {
    background-color: burlywood;
    border-radius: 3px;
    margin: 3px;
    padding: 3px;
    width: fit-content;
    font-weight: 10;
}

.item > p {
    display: inline;
}

.remove_task_button, .mark_done_task_button, .highlight_task_button {
    border-radius: 2px;
}

.remove_task_button:hover, .mark_done_task_button:hover, .highlight_task_button:hover {
    background-color: #ded7d7;
}

@keyframes showUp {
    from { transform: scale(0); }
    to { transform: scale(100%); }
}